body {
    margin: 0;
    font-family: HelveticaNeueBold,Helvetica,Helvetica,Arial,sans-serif;
}
/* ---- navbar ---- */
.navbar.navbar-default {
    background-color: #ffffff;
    margin-bottom: 0;
    font-weight: 400;
    min-height: auto;
    padding: 0;
    box-shadow: 0 0 2px #e3e3e3;
}
.navbar-brand>img{
    width: 22px;
}
/* ---- upload ---- */
.btn-default {
    margin: 1em 0;
}
.boxInfo{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    top: 115px;
    height: 386px;
}
.input-group {
    margin: 3em auto 1em auto;
}
#uploadFile:hover{
    color:#eeeeee;
}
/* ---- tutorial ---- */
.wrap-tutorial {
    padding: 140px 0;
}
.img-center{
    margin: 15px auto 0 auto;
    display: block;
}
/* ---- progress bar ---- */
.progress{
    position: absolute;
    width: 100%;
    top: 261px;
    height: 29px;
}
.progress-bar{
    background-color: #000000;
    font-size: 1em;
    line-height: 28px;
}
/* ---- page 2 graphics ---- */
.highcharts-credits{
    display: none;
}
/* ---- profile ---- */
.border{
    border: 0.5px solid #eee;
    border-radius: 10px;
    margin: 20px auto;
}
.profile-container{
    display: flex;
}
.profile-container:hover{
    background-color: #eee;
    border-radius: 10px;
}
.image-profile{
    z-index: 9;
    border-radius: 100%;
    width: 150px;
    height: 150px;

}
.image-profile:first-child{
    margin-top: 20px;
}
.profile-text>h2{
    font-weight: 700;
    font-size: 1em;
}

/* ---- media queries ---- */
@media only screen and (max-width: 720px) {
    #boxInfo{padding:0; margin: 0}
    .image-profile{width:25%; height:25%;}
}
@media only screen and (min-width: 721px) and (max-width: 1280px) {
}
@media only screen and (min-width: 1281px) {
}